::-webkit-scrollbar {
  width: 7px;
  background: rgb(193, 193, 193);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

body {
  background-color: #eee;
  margin: 0;
  overflow-x: hidden;
}

#title {
  font-size: 4vw;
  font-weight: 400;
  font-family: 'Muli', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: 40%;
}

#subtitle {
  font-size: 2.5vw;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: 55%;
}

.section-title {
  font-size: 3vw;
  font-weight: 400;
  font-family: 'Muli', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: 10%;
}

.centered-text {
  font-size: 2vw;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: 30%;
}

.left-text {
  font-size: 2vw;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  text-align: center;
  position: absolute;
  width: 50%;
  top: 60%;
  left: 2%;
}

.right-text {
  font-size: 2vw;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  text-align: center;
  position: absolute;
  width: 50%;
  top: 60%;
  left: 52%;
}

.simu-text {
  position: absolute;
  text-align: center;
  left: 100%;
  transform: translateX(-50%);
  font-size: 2vw;
  font-family: 'Muli', sans-serif;
  display: inline-block;
  white-space: nowrap;
}

.section {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: rgb(193, 193, 193);
  background: linear-gradient(90deg, rgba(193, 193, 193, 1) 0%, rgba(238, 238, 238, 1) 50%, rgba(193, 193, 193, 1) 100%);
}

#covid-simu .dot {
  left: 20%;
  height: 1.3vw;
  width: 1.3vw;
  background-color: #eb4034;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

#flu-simu .dot {
  left: 70%;
  height: 1.3vw;
  width: 1.3vw;
  background-color: #eb4034;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

/* animaations */
/* animations */
.to-animate {
  opacity: 0;
}

.fade-in-top {
  animation: fade-in-top 0.8s ease-in-out .5s both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-bottom {
  animation: fade-in-bottom 0.8s ease-in-out .5s both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-left {
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
  animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-right {
  -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.vibrate {
  -webkit-animation: vibrate 4s linear infinite both;
  animation: vibrate 4s linear infinite both;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
